@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
a::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #D6D9DC;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;

    img {
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 32px;
        font-weight: bold;
    }
}

.game-round {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    gap: 25vw;

    .computer {
        rotate: 220deg;
    }

    .player {
        rotate: 40deg;
    }
}

#playerContainer {
    flex-direction: row-reverse;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    p {
        width: 85px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
}

#computerScoreboard {
    flex-direction: column-reverse;
}

.score img {
    width: 25px;
    height: 25px;
}

.hand {
    width: 93px;
    height: 177.5px;
}

.versus {
    height: 77.5px;

    img {
        width: 77.5px;
        height: 77.5px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vh;
    margin-bottom: 2vh;

    p {
        padding: 1vh;
    }
}

.choices {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.choices button {
    width: 75px;
    height: 75px;
    padding: 1vh;
    background-color: #BABFC4;
    border: 5px solid #0c0d0e;
    border-radius: 25px;
    transition: scale 0.2s ease-in-out;

    img {
        width: 36.6px;
        height: 75px;
    }
}

.choices button:hover {
    cursor: pointer;
    scale: 1.1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    text-align: center;

    a {
        height: 17.5px;

        img {
            width: 17.5px;
            height: 17.5px;
        }
    }

    a:hover {
        animation: rotate .5s forwards;
    }
}

dialog {
    width: 200px;
    height: 150px;
    position: fixed;
    padding: 1vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #f1f2f3;
    text-align: center;
    border-radius: 25px;
    border: none;
    transition: transform 0.2s ease-in-out;
    font-weight: 700;
    font-size: 25px;
}

.dialog-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

dialog button {
    border: none;
    border-radius: 9px;
    background: #D6D9DC;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    transition: scale 0.2s ease-in-out;
}

dialog button:hover {
    cursor: pointer;
    background: #75808a;
    scale: 1.1;
}

.loader {
    background-color: #464d53;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out;
}

.icon {
    animation: rotate-out-in 3s infinite;
}

.hide {
    animation: vanish 1s forwards;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotate-out-in {
    0% {
        rotate: -360deg;
    }

    50% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}